<paper-material>
    <table class="char-table">
        <tr>
            <th></th>
            <th>a</th>
            <th>i</th>
            <th>u</th>
            <th>e</th>
            <th>o</th>
        </tr>
        <tr>
            <th>∅</th>
            <td>あ</td>
            <td>い</td>
            <td>う</td>
            <td>え</td>
            <td>お</td>
        </tr>
        <tr>
            <th>k</th>
            <td>か</td>
            <td>き</td>
            <td>く</td>
            <td>け</td>
            <td>こ</td>
        </tr>
        <tr>
            <th>s</th>
            <td>さ</td>
            <td>し</td>
            <td>す</td>
            <td>せ</td>
            <td>そ</td>
        </tr>
        <tr>
            <th>t</th>
            <td>た</td>
            <td>ち</td>
            <td>つ</td>
            <td>て</td>
            <td>と</td>
        </tr>
        <tr>
            <th>n</th>
            <td>な</td>
            <td>に</td>
            <td>ぬ</td>
            <td>ね</td>
            <td>の</td>
        </tr>
        <tr>
            <th>h</th>
            <td>は</td>
            <td>ひ</td>
            <td>ふ</td>
            <td>へ</td>
            <td>ほ</td>
        </tr>
        <tr>
            <th>m</th>
            <td>ま</td>
            <td>み</td>
            <td>む</td>
            <td>め</td>
            <td>も</td>
        </tr>
        <tr>
            <th>y</th>
            <td>や</td>
            <td></td>
            <td>ゆ</td>
            <td></td>
            <td>よ</td>
        </tr>
        <tr>
            <th>r</th>
            <td>ら</td>
            <td>り</td>
            <td>る</td>
            <td>れ</td>
            <td>ろ</td>
        </tr>
        <tr>
            <th>w</th>
            <td>わ</td>
            <td></td>
            <td></td>
            <td></td>
            <td>を</td>
        </tr>
        <tr>
            <th></th>
            <th>a</th>
            <th>i</th>
            <th>u</th>
            <th>e</th>
            <th>o</th>
        </tr>
        <tr>
            <th></th>
            <td>ん</td>
            <td>っ</td>
            <td>ゝ</td>
            <td>ゞ</td>
        </tr>

    </table>
</paper-material>
<paper-material>
    <table class="char-table">
        <tr>
            <th>゛</th>
            <td>k/g</td>
            <td>s/z</td>
            <td>t/d</td>
            <td>h/b</td>
            <th>゜</th>
            <td>h/p</td>
        </tr>
        <tr>
            <th>ゃゅょ</th>
            <td>k</td>
            <td>s</td>
            <td>t</td>
            <td>n</td>
            <td>h</td>
            <td>m</td>
            <td>g</td>
            <td>z/j</td>
            <td>b</td>
            <td>p</td>
        </tr>

    </table>
</paper-material>